.logo {
  width:60px;
  height:60px;
}

hr {
  display: block;
  background-color: #7d97ad;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 2px;
}

header {
  margin-top: 30px;
  margin-bottom: 30px;
}

#projects {
  color: #7d97ad;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner-img {
  width: 100%;
}

.project-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 0;
  color: #2d3c49;
}

.project-link {
  font-size: 12px;
  text-align: center;
  color: #7d97ad;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

footer {
  margin-top: 30px;
}
